$black: #000;
$black-hover: #5b5b5b;
$white: #fff;
$border-color: rgb(200, 200, 200);
$grey: #808080;
$job-provider: #005ab7;
$salary-background: #ababab;
$focus-color: #737373;
$inset1: rgba(107, 107, 107, .075);
$inset2: rgba(208, 208, 208, .6);
