$black: #000;
$black-hover: #5b5b5b;
$shadow-color: rgba(167, 167, 167, .36);
$white: #fff;
$border-color: rgba(233, 233, 233, .96);

header {
  background-color: $white;
  -moz-box-shadow: 0 3px 10px 0 $shadow-color; // scss-lint:disable VendorPrefix
  -webkit-box-shadow: 0 3px 10px 0 $shadow-color; // scss-lint:disable VendorPrefix
  box-shadow: 0 3px 10px 0 $shadow-color;

  nav .navbar-nav {
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      float: none;

      a {
        color: $black;
        font-size: 40px;

        &:hover {
          background-color: transparent;
          color: $black-hover;
          cursor: pointer;
        }
      }
    }
  }
}
