@import "../../../main.scss";

header {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  height: 67px;

  nav .navbar-nav {
    text-align: center;
    width: 100%;

    .center-link {
      display: inline-block;
      float: none;

      a {
        color: $black;
        font-size: 40px;

        &:hover {
          background-color: transparent;
          color: $black-hover;
          cursor: pointer;
        }
      }

      .main-logo {
        padding: 20px 0;
        font-family: 'Yesteryear', cursive;
        font-weight: 900;

        span {
          font-family: sans-serif;
          font-size: 10px;
          font-weight: 200;
          position: absolute;
          margin-top: 16px;
          margin-left: -23px;
        }

        @media screen and (max-width: 768px) {
          padding: 14px 0;
          font-family: 'Yesteryear', cursive;
          font-weight: 900;
          padding-left: 50px;
        }
      }
    }

    .right-link {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 6px;

      a {
        color: $black;
        font-size: 19px;
        font-weight: 900;

        &:hover {
          background-color: transparent;
          color: $black-hover;
          cursor: pointer;
        }
      }
    }
  }
}
