$black: #000;
$black-hover: #5b5b5b;
$white: #fff;
$border-color: rgba(233, 233, 233, .96);

header {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  height: 67px;

  nav .navbar-nav {
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      float: none;

      a {
        color: $black;
        font-size: 40px;

        &:hover {
          background-color: transparent;
          color: $black-hover;
          cursor: pointer;
        }
      }

      .main-logo {
        padding: 20px 0;
        font-family: 'Yesteryear', cursive;
        font-weight: 900;
      }
    }
  }
}
